@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
}

@layer utilities {
  .bg-gradient-blue-to-purple {
    @apply bg-gradient-to-r from-bluec to-purplec to-45%;
  }
}
nav.menu-open > ul {
  display: block;
}
nav.menu-open {
  flex-direction: column;
}

nav.menu-open button span:first-child {
  transform: translateY(4px) rotate(45deg);
}
nav.menu-open button span:last-child {
  transform: translateY(-4px) rotate(-45deg);
}
nav.menu-open button span:nth-child(2) {
  display: none;
}
nav.menu-open button {
  margin-top: 8px;
}
